page-home {
  #home{
    @include linear-gradient(left,$green-and-blue);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    }
    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.75em;
        width: 100%;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.808);
      }
    }
}
