page-see-solicitudes {
    #solicitudes{
        @include linear-gradient(left,$green-and-blue);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        }
}
